<!-- <li *ngFor="let emp of emplist">
  <div style="color:Blue">
     Employee Id:  {{emp.id}} <br>
     Employee Name:  {{emp.name}} <br>
     Employee Salary:  {{emp.salary}} <br>
  </div>
  </li> -->

  <table class="table table-striped">
   <thead>
     <tr>
       <th scope="col">Employee ID: </th>
       <th scope="col">Employee Name: </th>
       <th scope="col">Employee Salary: </th>
     </tr>
   </thead>
   <tbody>
     <tr  *ngFor="let emp of emplist">       
       <td>{{emp.id}}</td>
       <td>{{emp.name}}</td>
       <td> {{emp.salary}}</td>
     </tr>
   </tbody>
  </table>
  <button (click)="loadEmployee();">Load Employee</button><br>
  <!-- <button (click)="login();">Login Me</button> -->
  <!-- <div style="color:Blue">
    Employee Id:  {{emp.id}} <br>
    Employee Name:  {{emp.name}} <br>
    Employee Salary:  {{emp.salary}} <br>
 </div> -->